*{
    box-sizing: border-box;
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;
   font-weight: bold;
   font-style: italic;

}


body{
    width: 100%;
    height: 100%;
    
}

form{
    width: 300px;
    margin: 50px auto;
    text-align: center;

}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}

#logofb{
border-radius: 100px;
width: 200px;
height: 200px;
}

#gif1{
    
   border-style: solid;
   height: 350px;
   position: absolute;
   left: 150px;
   bottom: 215px;
}

#img1{

   margin: 50px auto;
   border-style: solid;
   height: 350px;

   width: 340px;
   position: relative;
   left: 860px;
   bottom: 452px;

}