body {background-color: #03071e;
     

}

#fundo { text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

a { color: #134074;


}

.link{
color: white;
font-size: 25px;

}

.Títulos{
color: #d00000;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: underline;
}