body {background-color: #f0f2f5;
     

}

#fundo { text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

a { color: #134074;


}

.link{
color: #1d2129;
font-size: 25px;

}

.Títulos{
color: #1b74e4;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: underline;
}